name: biome

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Biome CLI
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome on changed files
        run: biome ci --changed
